:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: monospace;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

